
.body{
  background:#330000;
}
.title h1{
  margin-left:85px;
}
.ul{
  list-style-type: none;
}
.Soda ul{
  margin-bottom: 100px;
  margin-left: 80px;
  width: 300px;
  height: 50px;
  line-height:50px;
  text-align: center;
}

.Soda ul li{
  cursor: pointer;
  border: 3px solid #73AD21;
  background-color: #73AD21;
}
 #Coke {
  background:#73AD21;
  width:59%;
  height:60px;
  margin: 12px 0;
}
 #CokeZero {
  background:#6699ff;
  width:59%;
  height:60px;
  margin: 12px 0;
}
#OrangeCoke {
  background:#99ccff;
  width:59%;
  height:60px;
  margin: 12px 0;

}
#CherryZero {
  background:#6666cd;
  width:59%;
  height:60px;
  margin: 11px 225px;
}
#CherryVanilla{
  background:#9999cc;
  width:59%;
  height:60px;
  margin: 12px 0;
}
#MelloYello {
  background:#9999ff;
  width:59%;
  height:60px;
  margin: -7px 229px;
}
#MinuteMainLemonade {
  background:#666699;
  width:59%;
  height:60px;
  margin: 12px 0;
}
#MinuteMainLight {
  background:#9966cc;
  width:59%;
  height:60px;
  margin: 12px 0;
}
#Sprite {
  background:#6633cc;
  width:59%;
  height:60px;
  margin: 12px 0;
}

#task{
  margin-left: 30px;
  margin-top:113px;
  width: 45%;
  height:70px;
  font-size:15px;

}

#buysoda{
  margin-left: 30px;
  margin-top:-18px;
}
#amount-paid{
  height: 31px;
  width: 138px;
  margin-left: 126px;
}
#get-soda{
  height:36px;
  width:180px;
  margin-left: 100px;
  margin-top: 20px;
}
